@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@section ColumnLabels {
    <th>Name</th>
    <th>Title</th>
    <th>Status</th>
}

@foreach (var item in ViewBag.Sections)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Title</td>
        <td>@CustomHelpers.PublishedButton(item.Published, item.SectionId)</td>
        <td>
            @CustomHelpers.EditActionButton(item.SectionId)
            @CustomHelpers.DeleteActionButton(item.SectionId)
        </td>
    </tr>
}
