@using System.Web.UI.WebControls
@using MyNursingFuture.BL.Managers
@model MyNursingFuture.Cms.Models.ContentItemViewModel
@{
    ViewBag.Title = Model.Operation == "E" ? "Edit Accordion" : "Insert new Accordion";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-12">
        @if (ViewBag.Previous.ToString() == "ARTICLE")
        {
            @Html.ActionLink("Go back", "Edit", "Articles", new { id = Model.ArticleId }, new { @class = "btn inverse pull-right" })
        }
        else
        {
            @Html.ActionLink("Go back", "Edit", "Sections", new { id = Model.SectionId }, new { @class = "btn inverse pull-right" })
        }
    </div>
</div>


@CustomHelpers.SuccessMessage(TempData)

@using (Html.BeginForm("InsertEdit", "ContentItems", FormMethod.Post, new { id = "form-post", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.ArticleId)
    @Html.HiddenFor(x => x.Type)
    @Html.HiddenFor(x => x.Operation)
    @Html.HiddenFor(x => x.ContentItemId)
    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <span class="error-message warning" id="title-error" style="display: none">Title is required</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Text)
        @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
        <span class="error-message warning" id="text-error" style="display: none">Text is required</span>
    </div>

}
<button onclick="submitForm();" class="btn btn-default">Save</button>


@section scripts{
    <script>
        function submitForm() {
            if (!validateForm()) {
                return false;
            }
            $("#form-post").submit();
        }

        function validateForm() {
            $(".error-message").hide();
            var text = $("#Text").val();
            if (text === "" || text == null) {
                $("#text-error").show();
                return false;
            }
            var title = $("#Title").val();
            if (title === "" || text == null) {
                $("#title-error").show();
                return false;
            }
            return true;
        }

    </script>
    <script src="~/Content/js/custom/loadWysiwyg.js"></script>
}
